extends ../layout/main

block variables
	- var title = 'Главная';

block content
	section.advant
		.advant__content
			.advant-list.advant-list_right
				.advant-list__item
					.advant-list__text Скидочная гибкость до&nbsp;25%
					.advant-list__img
						img(src="assets/img/sale.png", alt="")

				.advant-list__item
					.advant-list__text Прямое взаимодействие с&nbsp;технологом
					.advant-list__img
						img(src="assets/img/person.png", alt="")

			.advant__main
				.advant__title дизайнерские двери на ваш вкус
				.advant__subtitle создавайте ценность выше стоимости
				.advant__label 1000 нестандартных дверей каждый месяц

			.advant-list
				.advant-list__item
					.advant-list__img
						img(src="assets/img/certificate.png", alt="")
					.advant-list__text Внимательно относимся к качеству

				.advant-list__item
					.advant-list__img
						img(src="assets/img/hourglass.png", alt="")
					.advant-list__text Педантично выдерживаем сроки

	section.projects
		.projects-list
			-
				var list=[
					{img:'project1.jpg'},
					{img:'project2.jpg'},
					{img:'project3.jpg'},
				]
			each item in list
				a(href="assets/img/"+item.img, data-fancybox='projects').projects-list__item
					span.projects-list__img(style="background-image: url(assets/img/"+item.img+")")

		.btn-arr.btn-arr_white
			.btn-arr__content
				a.btn.btn_border.btn_white(href='#') Обсудить ваш проект
				.btn-arr__arr

	section.about
		.st-width
			.header-site
				.header-site__label Технологи фабрики Прованс
				.header-site__title в поисках новых решений

			.about__content.clearfix
				img(src="assets/img/about.jpg", alt="").img-right
				p Технологи фабрики Прованс постоянно находятся в поисках новых решений. Регулярно посещают Итальянские выставки, делятся технологиями и обучаются за рубежом. В настоящий момент ряд Итальянских дизайнерских бюро предпочли заказывать двери на фабрике Прованс, оценив качество производства и сравнительно не большую стоимость.

	section.services
		.st-width
			.header-site
				.header-site__label Узнайте, почему
				.header-site__title дизайнеры любят с нами работать

			.services-list
				-
					var list=[
						{img:'lamp.png', title:'Готовы на эксперименты', text:'Присылаете запрос с требованиями к проекту — уточняем детали. Продумаваем реализацию. В течение суток бесплатно получаете чертеж в пропорциях.'},
						{img:'man.png', title:'Работа напрямю с технологом', text:'Этим гарантируется точность исполнения дизайна.'},
						{img:'msg.png', title:'тактичность в общении с клиентом', text:'В наших магазинах продавцы покажут именно то, что вы просите. Они понимают, что вы уже проделали работу с клиентом и готовы во всем вам помогать.'},
						{img:'design.png', title:'фото и текстуры для прорисовки проектов', text:'Предоставляем 4000+ отрисованных моделей на белом фоне, а также необходимые текстуры для визуализации интерьера.'},
						{img:'handshake.png', title:'поддержка и забота', text:'Мы с вами не только в радости, но и в редких случаях форс-мажора. Делаем так, чтобы клиент не почувствовал дискомфорт. Участвуем в решении проблем.'},
						{img:'money.png', title:'гарантия вознаграждения и защита проекта', text:'Заключаем договор с четко прописанной премиальной системой. Наличие СРМ программы позволяет отслеживать заказы по магазинам.'},
						{img:'cup.png', title:'удобная локация наших магазинов', text:'Понятное место встречи, где за один визит можно подобрать ассортимент для всего интерьера, а также есть зона для работы с клиентом в отдельно стоящем магазине.'},
						{img:'brochure.png', title:'Персональный подход', text:'Наш менеджер может приехать к вам и показать все наши образцы. Вы сможете посмотреть, как тот или иной цвет будет выглядеть с вашим освещением и как он будет сочетаться с вашей мебелью, полом и стенами.'},
						{img:'timer.png', title:'педантично выдерживаем сроки поставки', text:'Ваша репутация не пострадает. Вы и ваш клиент будете спокойны.'},
					]
				each item in list
					.services-list__item
						.services-list__icon
							img(src="assets/img/"+item.img, alt="")

						.services-list__title= item.title
						.services-list__text= item.text

			.btn-arr
				.btn-arr__content
					a.btn.btn_border(href='#') условия сотрудничества
					.btn-arr__arr
				.btn-arr__label По настоящему персональный менеджер


	section.gallery
		.st-width
			.header-site
				.header-site__label Галлерея наших и ваших работ
				.header-site__title От вашей идеи до ее воплощения — один&nbsp;шаг

		.gallery-slider.js-gallery-slider
			.gallery-slider__item
				a(href="door1.jpg", data-fancybox='doors', style="background-image: url(assets/img/door1.jpg)").gallery-slider__link
			
			.gallery-slider__item.gallery-slider__item_half
				a(href="door2.jpg", data-fancybox='doors', style="background-image: url(assets/img/door2.jpg)").gallery-slider__link
				a(href="door3.jpg", data-fancybox='doors', style="background-image: url(assets/img/door3.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door4.jpg", data-fancybox='doors', style="background-image: url(assets/img/door4.jpg)").gallery-slider__link

			.gallery-slider__item.gallery-slider__item_half
				a(href="door5.jpg", data-fancybox='doors', style="background-image: url(assets/img/door5.jpg)").gallery-slider__link
				a(href="door6.jpg", data-fancybox='doors', style="background-image: url(assets/img/door6.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door7.jpg", data-fancybox='doors', style="background-image: url(assets/img/door7.jpg)").gallery-slider__link
				
			.gallery-slider__item
				a(href="door1.jpg", data-fancybox='doors', style="background-image: url(assets/img/door1.jpg)").gallery-slider__link
			
			.gallery-slider__item.gallery-slider__item_half
				a(href="door2.jpg", data-fancybox='doors', style="background-image: url(assets/img/door2.jpg)").gallery-slider__link
				a(href="door3.jpg", data-fancybox='doors', style="background-image: url(assets/img/door3.jpg)").gallery-slider__link

			.gallery-slider__item
				a(href="door4.jpg", data-fancybox='doors', style="background-image: url(assets/img/door4.jpg)").gallery-slider__link

			.gallery-slider__item.gallery-slider__item_half
				a(href="door5.jpg", data-fancybox='doors', style="background-image: url(assets/img/door5.jpg)").gallery-slider__link
				a(href="door6.jpg", data-fancybox='doors', style="background-image: url(assets/img/door6.jpg)").gallery-slider__link


		.gallery-slider-dots.js-gallery-slider-dots

		.st-width
			.gallery__text
				p Многие модели создаются с вашей подачи. Это увлекательный процесс. Сначала вы присылаете свои идеи. Затем наши конструкторы думают, как это можно воплотить в жизнь.

				p Так появляются красивые и интересные двери.

			.btn-arr
				.btn-arr__content
					a.btn.btn_border(href='#') Обсудить ваши идеи
					.btn-arr__arr
				.btn-arr__label Создайте свой неповторимый стиль помещения

	section.reviews
		.st-width
			.header-site
				.header-site__label посмотрите
				.header-site__title отзывы ваших коллег

			.reviews-list
				a(data-fancybox='', href='https://www.youtube.com/watch?v=dl16e_mG6hg&t=1s').reviews-list__item
					img(src="assets/img/review1.png", alt="")

				a(data-fancybox='', href='https://www.youtube.com/watch?v=JC6KnTvB50Y').reviews-list__item
					img(src="assets/img/review2.png", alt="")

			.guarantee
				.guarantee__top
					.guarantee__sticker.guarantee__sticker_left Добиваемся идеально ровной поверхности

					.guarantee__header
						.guarantee__label 36 месяцев гарантии с момента покупки
						.guarantee__title наша формула качества

					.guarantee__sticker.guarantee__sticker_right Не допускаем бугорков, неровностей, шероховатостей

				.guarantee__content
					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Строгий регламент производства

					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Многоэтапный контроль

					.guarantee__item
						.guarantee__icon
							+svg('ic-tick','ic-tick', '44', '44')
						.guarantee__text Материалы премиум качества

	section.works
		.st-width
			.header-site
				.header-site__title Работаем так, чтобы вас рекомендовали
				.header-site__note Делаем качественные двери, чтобы каждый ваш клиент был доволен результатом и рекомендовал вас своим знакомым

			a(data-fancybox='', href='https://www.youtube.com/watch?v=SfW-Ll4xtX4').works__video
				img(src="assets/img/laptop.png", alt="")

			.works__label В производстве используем инструменты европейского качества. Фрезеровки на наших полотнах получаются идеально гладкими и ровными. Убедитесь сами

	section.process
		.st-width
			.header-site
				.header-site__title Строго выдерживаем технологический процесс покраски дверей

			.process-list
				-
					var list=[
						{title:'1 этап', img:'process1.jpg', text:'Полотно проходит через шлифовальное оборудование, а углы сглаживаются специальным станком'},
						{title:'2 этап', img:'process2.jpg', text:'Полотно покрывается первым слоем грунта, после чего шлифуется и передается в «ОТК 1» —отдел технического контроля'},
						{title:'3 этап', img:'process3.jpg', text:'Дверь покрывается вторым слоем грунта, шлифуется и после контроля качества получает печать «ОТК-2»'},
						{title:'4 этап', img:'process4.jpg', text:'Дверь покрывается эмалью в плотно закрытом помещении. Строгий контроль за тем, чтобы в малярной камере в воздухе не летало пыли и мелкого мусора'},
					]
				each item in list
					.process-list__item
						.process-list__title= item.title
						.process-list__img
							img(src="assets/img/"+item.img, alt="")
						.process-list__text= item.text

			.process-res
				.process-res__head
					.process-res__title Результат — 
					.process-res__subtitle гладкая дверь без шероховатостей или неровностей
					
				.process-res__list
					.process-res__item
						img(src="assets/img/process-res1.jpg", alt="")
					.process-res__item
						img(src="assets/img/process-res2.jpg", alt="")


	section.advant-product
		.advant-product__top
			.st-width
				.header-site
					.header-site__title Только 2% производителей дверей в РФ
					.header-site__label используют материалы премиум качества

				.advant-product__img
					img(src="assets/img/renner.jpg", alt="")

				.advant-product__desc
					+svg('ic-info','ic-info', '46', '46')
					
					.advant-product__text Идеальность поверхности дверей зависит от качества материалов для покрытия. Применяем итальянские лаки, краски, эмали, грунтовки и другие материалы премиум качества.

				
		.advant-product-list-wrap
			.st-width
				.advant-product-list
					.advant-product-item.advant-product-item_full
						.advant-product-item__icon
							+svg('ic-tick-square','ic-tick-square', '30', '30')

						.advant-product-item__content
							.advant-product-item__title Материалы ТОП
							.advant-product-item__text Материалы, которые используются в производстве наших дверей, также используются для отделки декора из дерева дорогих машин, яхт, эксклюзивной мебели ручной работы.

				.advant-product-list
					-
						var list=[
							{title:'Тестируем каждую партию', text:'Каждая партия краски и лака, которая приходит на наше производство, тестируется.'},
							{title:'Химичим на качество', text:'Подбор цвета происходит в лабораторных условиях.'},
							{title:'STOP COVID-19', text:'Для защиты от вирусов используем антиковидную пропитку.'},
						]
					each item in list
						.advant-product-item
							.advant-product-item__icon
								+svg('ic-tick-square','ic-tick-square', '30', '30')

							.advant-product-item__content
								.advant-product-item__title= item.title
								.advant-product-item__text= item.text

	section.tech
		.st-width
			.header-site
				.header-site__label Технология монтажа выверена до малейших нюансов —
				.header-site__title отточена на установке 216000 дверей


			.tech__content
				.tech__video
					.video
						iframe(src='https://www.youtube.com/embed/SfW-Ll4xtX4' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='' frameborder='0')

				.tech__desc
					ul.list-check
						li Бригада топовых монтажников, которые регулярно обучаются и аттестуются. К работе не допускается низкоквалифицированный персонал.
						li Качественный инструмент, который приспособлен к нашему продукту.
						li Узкая специализация — работа со сложным покрытием, в т.ч. с эмалью. Монтажники знают все особенности и нюансы установки.
						li Наличие у монтажников необходимых схем дверей.

	section.steps
		.st-width
			.header-site
				.header-site__label Сначала приемка — потом оплата!

			.steps-list
				-
					var list=[
						{num:'1', text:'Распаковка дверей'},
						{num:'2', text:'Проверка на отсутствие дефектов (при их наличии составляется акт на замену)'},
						{num:'3', text:'Установка с использованием лазерного уровня'},
						{num:'4', text:'Идеальная подгонка для ровности соединений и бесшумного открывания фурнитуры'},
					]
				each item in list
					.steps-list__item
						.steps-list__count
							.steps-list__num= item.num
							.steps-list__label шаг

						.steps-list__text= item.text

	section.conditions
		.st-width
			.header-site
				.header-site__label удобные условия дизайнерам
				.header-site__title для сотрудничества с нами

			.conditions__content
				.conditions__desc
					ul.list-square
						li Кабинет партнера
						li Удобная подача заявки
						li Отслеживание статуса заказа
						li Накопительная программа
						li Личное портфолио
						li Личный менеджер

				.conditions__img
					img(src="assets/img/girl.png", alt="")


			.btn-arr
				.btn-arr__content
					a.btn.btn_border(href='#') Присоединиться к нам
					.btn-arr__arr
				.btn-arr__label Давайте работать и зарабатывать вместе

	section.partners
		.st-width
			.header-site
				.header-site__title наши партнеры
				.header-site__label Лучше всего о нашем качестве и надежности могут рассказать наши партнеры

			.partners-slider.js-partners-slider
				-
					var list=[
						{img:'partner1.png'},
						{img:'partner2.png'},
						{img:'partner3.png'},
						{img:'partner4.png'},
						{img:'partner5.png'},
						{img:'partner6.png'},
						{img:'partner1.png'},
						{img:'partner5.png'},
						{img:'partner6.png'},
						{img:'partner2.png'},
						{img:'partner3.png'},
						{img:'partner4.png'},
						{img:'partner3.png'},
						{img:'partner4.png'},
						{img:'partner5.png'},
						{img:'partner6.png'},
						{img:'partner1.png'},
						{img:'partner5.png'},
					]
				each item in list
					.partners-slider__item
						img(src="assets/img/"+item.img, alt="")

			.partners-slider-dots.js-partners-slider-dots
			
			.partners__note Для каждого Заказчика мы стараемся подобрать оптимальную схему взаимоотношений, одинаково внимательно относясь как к крупным клиентам, так и к небольшим заказам.
	
	section.people
		.st-width
			.header-site
				.header-site__title публичность требует качества
				.header-site__label Проекты на телевидении и с известными людьми

			.people-list
				.person
					.person__content
						.person__title Вилкова
						.person__subtitle Екатерина Николаевна
						.person__label Российская актриса
						.person__text
							p Екатерина Вилкова дважды заказывала фрезерованные двери в белом цвете глухие и остекленные в моделях «Порта» и «Мадрид».

					.person__img
						img(src="assets/img/person1.png", alt="")

				.person
					.person__content
						.person__title Участие в проекте #Фазенда
						.person__text
							p Наша компания участвовала в телепередаче «Фазенда» в проекте спальня «Фисташковое пралине». Программа проходила первого марта 2020 года.
								br
								|@fazendalife.tv

							p Для передачи мы сделали скрытую дверь в грунте под покраску.Обратите внимание на яркий и в то же время нежный цвет салатовой двери. Какое красивое сочетание с интерьерной композицией.

					.person__img
						img(src="assets/img/fazenda.png", alt="")

				.person.person_top
					.person__content
						.person__title Хромченко
						.person__subtitle Эвелина Леонидовна
						.person__label российская журналистка, телеведущая и писательница.
						.person__text
							|Проект «Идеальный ремонт»
							br
							|От прованса до хай-тека. Выпуск от 04.06.2017
							br
							|Эвелина хромченко на фоне фрезерованной двери с багетом модели «Турин» в белом цвете.

					.person__img
						img(src="assets/img/person2.png", alt="")

	section.reviews-slider-wrap
		.st-width
			.reviews-slider-wrap__content
				.header-site
					.header-site__title мы умеем удивлять
					.header-site__label наших клиентов

				
				.reviews-slider.js-reviews-slider
					-
						var list=[
							{img:'review1.jpg'},
							{img:'review2.jpg'},
							{img:'review3.jpg'},
							{img:'review4.jpg'},
						]
					each item in list
						.reviews-slider__item
							img(src="assets/img/"+item.img, alt="")


	section.map-wrap
		.st-width
			.header-site
				.header-site__title карта наших представителей и салонов

		#map.map
		script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')

		.st-width
			.map-note Используйте карту для поиска ближайшего к вам нашего партнера. Все, что необходимо сделать – кликнуть на точку офиса на карте, нажать на кнопку «Отправить заявку», заполнить появившуюся форму. После этого с вами свяжутся для выяснения деталей.

